#lastcollage{
  font-family: $default_font;
  margin: 60px;
  .arrival {
    @include Flexible(center,center,row,nowrap, 0px);
    width: 100%;
    height: 100%;
    color: #fff; 
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;

    .left_top_img {
      @include Flexible(center,center,column,nowrap,5px);
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; 
  }
  
  .left_top_text {
    @include Flexible(center,center,column,nowrap,5px);
      position: absolute;
      z-index: 2;  
  }
  
  .left_top_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
  }
  
  .left_top_img:hover img {
      transform: scale(1.1);
  }
  h2 {
    font-size: 13px;
    line-height: 23px;
    margin-top: 7px;
    color: #a5a5a5;

  
  }
  h1{
    font-size: 30px;
    line-height: 40px;
    margin-top: 7px;
    color: #242424;
    font-weight: 700;
    margin-bottom: 0;

  }

  .shop_btn {
    margin-top: 16px;
    padding: 10px 14px;
    background-color: $green_color;
    a{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    }
    &:hover{
      background-color: darken($green_color, 10%);
    }
  }
  }
.last_container{
  @include Flexible(flex-start,flex-start,column,nowrap, 0);
  width: 100%;
  height: 100%;
  margin: 10px;
  overflow: hidden;
  box-sizing: border-box;
  hr {
    border: none;           
    border-top: 2px solid #ccc; 
    margin: 7px 0;           
    width: 100%;    
  }
  
  .header{
    @include Flexible(flex-start, flex-start, row, wrap, 0px);
    cursor: pointer;
    h1{
      font-size: 15px;
      color: #333;
      line-height: 1.4;
      font-weight: 700;
      text-transform: uppercase
    }

  }
  .info_box{
    @include Flexible(center, flex-end, row, wrap, 15px);
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
   

    .info_box_img {
      @include Flexible(center, flex-start, column, nowrap, 0px);
      max-height: 70px; 
      max-width: 70px;  
      img {
        width: 100%;
        height: 100%;
        object-fit: contain; 
      }
    }
  
    .info_box_content {
      @include Flexible(flex-start, flex-start, column, nowrap, 0px);
      .info_box_title {
        h5 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
          
        }
      }
  
      .ifo_box_inner {
        @include Flexible(flex-start, flex-start, column, nowrap, 0);
        p {
          font-size: 12px;
          color: $green_color;
          margin: 0;
          font-weight: 800;
        }
      }
    }
   }
}
 
  

}